
#desc-section .desc-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    min-height: 110vh;
    max-width: 80rem;
}

#desc-section .desc-content h2 {
    font-size: 5rem;
    text-transform: uppercase;
}