#first-section .intro-content,
#first-section .intro-content .intro-text-content p{
    color: var(--secondary-color);
}

#first-section .intro-content {
    position: relative;
    top: -2rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    height: 110vh;
}

#first-section .intro-content .intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#first-section .intro-content .intro-text-content h2 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0 0 3rem 0;
    line-height: 1.2;
}

#first-section .intro-content .intro-img {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#first-section .intro-content .intro-img img {
    max-width: 100%;
}