#gallery-section .gallery-content {
    min-height: 110vh;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
    justify-content: center;
}

#gallery-section .gallery-content h2 {
    text-transform: uppercase;
}

#gallery-section .gallery-content p {
    padding-bottom: 4rem;
}

#gallery-section .gallery-content .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

#gallery-section .gallery-content .grid .gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

#gallery-section .gallery-content .grid .gallery-img img {
    transition: all 300ms ease-in-out;
}

#gallery-section .gallery-content .grid .gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}