#work-section .work-content {
    height: 110vh;
    display: flex;
    flex-flow: column wrap;
    gap: var(--gap);
    justify-content: center;

}

#work-section .work-content h2 {
    text-transform: uppercase;
}

#work-section .work-content p {
    color: var(--secondary-color);
    padding-bottom: 4rem;
}

#work-section .work-content .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

#work-section .work-content .grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 8rem;
    padding-bottom: 3rem;
}

#work-section .work-content .grid h3:first-child:before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    font-size: 8rem;
    font-style: italic;
    position: absolute;
    top: -3rem;
    left: 0;
    transform: rotate(5deg);
    
}